@using Demo_Mvc_Project.Models
@model List<TblCity>
@{
    ViewBag.Title = "CityList";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<table class="table table-bordered">
    <tr>
        <td>#</td>
        <td>Şehir Adı</td>
        <td>Ülke</td>
    </tr>

    @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CityID</td>
                    <td>@item.CityName</td>
                    <td>@item.CityCountry</td>
                </tr>
            }
</table>

